.calendarContainers{
    margin-top: 4rem;
    /* display: flex;  */
    /* justify-content: space-between; */
    position: relative;
}

.departureCalendar{
    position: absolute;
    bottom: 10px;
    left:20%;
    z-index:10;

    border-radius: 8px;
}
.arrivalCalendar{
    position: absolute;
    bottom: 10px;
    right:0;

    z-index:10;

    border-radius: 8px;

}


.calendar{
    border-radius: 4px;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.224);
}

.Checkbox1{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}
.Checkbox1 input{
    margin-right: 1rem;
}

.dateInputs, .timeInputs{

    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.dateInputs div, .timeInputs div{
    width:50%;
    display: flex;
    justify-content: space-around;
}

.Label{
    margin-right: 1rem;
    padding: 0.5em 1em;
    
    font-weight: 700;

    border: 1px solid rgba(47, 128, 237, 1);
    border-radius: 4px;
    color:rgba(47, 128, 237, 1);

}

.Input{
    border: 1px solid black;
    padding: 0.3em 1em;
    border-radius: 4px;
    outline : none;
    width: 50%;
}

.Input option:hover{
    background-color: rgba(47, 128, 237, 1) ;
}

.Input option:checked{  
    background-color: rgba(47, 128, 237, 1); 
}
.checkboxGroup{
    margin-top: 1rem;

}

.checkboxGroup .checkboxOption{
    margin-top:0.5rem;
}

.checkboxGroup .checkboxOption input{
    margin-right: 1rem;

}







